{{ define "modules/examination/html/create_examination" }} 
{{ template "templates/layouts/html/header" .}} 
{{ template "templates/layouts/html/navbar" .}} 
{{ template "templates/layouts/html/sidebar" .}}
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row"></div>
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <form
            method="POST"
            action="/schools/add"
            class="needs-validation"
            novalidate=""
          >
            <div class="card-header text-center">
              <h4 class="text-center">Annual Academic Competiton for SSS Category</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="address">Address</label>
                <input
                  type="text"
                  name="address"
                  class="form-control"
                  id="adrress"
                  placeholder="address"
                  value="{{ range .OLD.address }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.address }}</div>
              </div>
              <div class="form-group">
                <label for="email">Zone</label>
                <input
                  type="zone"
                  name="zone"
                  class="form-control"
                  id="zone"
                  placeholder="Zone"
                  value="{{ range .OLD.zone }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.zone }}</div>
              </div>

              <div class="form-group">
                <label for="quran">Quran Participant</label>
                <input
                  type="quran"
                  name="quran"
                  class="form-control"
                  id="quran"
                  placeholder="Quran"
                  value="{{ range .OLD.quran }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.quran }}</div>
              </div>

              <div class="form-group">
                <label for="quiz_1">Quiz Participant 1</label>
                <input
                  type="quiz_1"
                  name="quiz_1"
                  class="form-control"
                  id="quiz_1"
                  placeholder="Quiz Participant 1"
                  value="{{ range .OLD.quiz_1 }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.quiz_1 }}</div>
              </div>

               <div class="form-group">
                <label for="quiz_2">Quiz Participant 2</label>
                <input
                  type="quiz_2"
                  name="quiz_2"
                  class="form-control"
                  id="quiz_2"
                  placeholder="Quiz Participant 2"
                  value="{{ range .OLD.quiz_2 }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.quiz_2 }}</div>
              </div>

              <div class="form-group">
                <label for="debate">Debate Participant 1</label>
                <input
                  type="debate"
                  name="debate"
                  class="form-control"
                  id="debate"
                  placeholder="debate"
                  value="{{ range .OLD.debate_1 }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.Debate_1 }}</div>
              </div>

            <div class="form-group">
                <label for="debate_2">Debate Participant 2</label>
                <input
                  type="debate_2"
                  name="debate_2"
                  class="form-control"
                  id="debate_2"
                  placeholder="debate_2"
                  value="{{ range .OLD.debate_2 }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.Debate_2 }}</div>
              </div>

              <div class="form-group">
                <label for="exhibition">Exhibition</label>
                <input
                  type="exhibition"
                  name="exhibition"
                  class="form-control"
                  id="exhibition"
                  placeholder="exhibition"
                  value="{{ range .OLD.exhibition }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.exhibition }}</div>
              </div>
              <div class="form-group">
                <label for="school">School Phone Number</label>
                <input
                  type="text"
                  name="school_phone_number"
                  class="form-control"
                  id="school_phone_number"
                  placeholder="School Phone Number"
                  value="{{ range .OLD.school_phone_number }}{{.}}{{end}}"
                  required=""
                />
                <span class="text-danger">{{ .ERRORS.school_phone_number }}</span>
                <div class="invalid-feedback">{{ .ERRORS.school_phone_number }}</div>
              </div>
              <div class="form-group">
                <label for="website">Teacher's Name</label>
                <input
                  type="text"
                  name="teacher_name"
                  class="form-control"
                  id="teacher_name"
                  placeholder="Teacher Name"
                  value="{{ range .OLD.teacher_name }}{{.}}{{end}}"
                />
                <div class="invalid-feedback">{{ .ERRORS.teacher_name }}</div>
              </div>
              <div class="form-group">
                <label for="teacher_phone_number">Teacher's Phone Number</label>
                <input
                  type="text"
                  name="teacher_phone_number"
                  class="form-control"
                  id="teacher_phone_number"
                  placeholder="Teacher's Phone Number"
                  value="{{ range .OLD.teacher_phone_number }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.teacher_phone_number }}</div>
              </div>
              <div class="form-group">
                <label for="head_teacher_name">Head Teacher's Name</label>
                <input
                  type="text"
                  name="head_teacher_name"
                  class="form-control"
                  id="head_teacher_name"
                  placeholder="Head Teacher Name"
                  value="{{ range .OLD.head_teacher_name }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.head_teacher_name }}</div>
              </div>
               <div class="form-group">
                <label for="about">LGA Code</label>
                <input
                  type="text"
                  name="lga_code"
                  class="form-control"
                  id="lga_code"
                  placeholder="LGA Code"
                  value="{{.lga_code}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.lgacode }}</div>
                <span class="text-danger">{{ .ERRORS.lgacode }}</span>
              </div>
              <div class="form-group">
                <label for="federal_government_status">Federal Government Status</label>
                      <select class="form-control select2" id="federal_government_status" name="federal_government_status">
                      {{ range $key, $value := .federal_gov_status }}
                      <option value="{{$value}}">{{$value}}</option>{{end}}
                      </select>
                <div class="invalid-feedback">{{ .ERRORS.federalgovernmentstatus }}</div>
                <span class="text-danger">{{ .ERRORS.federalgovernmentstatus }}</span>
              </div>
              <div class="form-group">
                <label for="about">CAC Number</label>
                <input
                  type="text"
                  name="cac_reg_number"
                  class="form-control"
                  id="cac_reg_number"
                  placeholder="CAC Number"
                  value="{{.cac_reg_number}}"
                />
                <div class="invalid-feedback">{{ .ERRORS.cacregnumber }}</div>
                <span class="text-danger">{{ .ERRORS.cacregnumber }}</span>
              </div>
               <div class="form-group">
                <label for="about">Other Association</label>
                <input
                  type="text"
                  name="association_details"
                  class="form-control"
                  id="association_details"
                  placeholder="Association Details"
                  value="{{.association_details}}"
                />
                <div class="invalid-feedback">{{ .ERRORS.associationdetails }}</div>
                <span class="text-danger">{{ .ERRORS.associationdetails }}</span>
               <div class="form-group">
                <label for="school_code">School</label>
                 <select class="form-control select2" id="school_code" name="school_code">
                  {{ range $key, $value := .schools }}
                  <option value="{{$value.SchoolCode}}">{{$value.SchoolCode}} - {{$value.SchoolName}}</option>{{end}}
                  </select>
                <div class="invalid-feedback">{{ .ERRORS.schoolcode }}</div>
                <span class="text-danger">{{ .ERRORS.schoolcode }}</span>
              </div>
              <div class="form-group">
                      <label for="ownerships">Ownership</label>
                      <select class="form-control select2" id="ownership" name="ownership">
                      {{ range $key, $value := .ownerships }}
                      <option id="ownership"  value="{{$value}}" name="ownership">{{$value}}</option>{{end}}
                      </select>
                    </div>
                <div class="invalid-feedback">{{ .ERRORS.ownership }}</div>
                <span class="text-danger">{{ .ERRORS.ownership }}</span>
              </div>
              <div class="form-group">
                <label for="logo">Logo</label>
                <input
                  type="text"
                  name="logo"
                  class="form-control"
                  id="logo"
                  placeholder="Logo"
                  value="{{ range .OLD.logo }}{{.}}{{end}}"
                  required=""
                />
                <div class="invalid-feedback">{{ .ERRORS.logo }}</div>
                <span class="text-danger">{{ .ERRORS.logo }}</span>
              </div>
              <div class="form-group">
                <label for="lga">LGA</label>
                 <select class="form-control select2" id="lga" name="lga">
                  {{ range $key, $value := .LGANames }}
                  <option value="{{$value}}">{{$value}}</option>{{end}}
                  </select>
                <div class="invalid-feedback">{{ .ERRORS.lga }}</div>
                <span class="text-danger">{{ .ERRORS.lga }}</span>
              </div>
              <div class="form-group">
                <label for="school type">School Type</label>
                <select
                id="school_types"
                  class="form-control select-width"
                  name="school_types"
                  multiple="multiple"
                  placeholder="School Type"
                  size="5"
                  value="{{ range .OLD.school_types }}{{.}}{{end}}"
                >
                  {{ range $key, $value := .school_type_lists }}
                  <option id="{{$key}}" value="{{$value}}">{{$value}}</option>
                  {{ end }}
                </select>
                <span class="text-danger">{{ .ERRORS.schooltypes }}</span>
              </div>
              <div class="form-group">
                <label for="school type">School Operation Type</label>
                <select
                  id="school_operation_types"
                  class="form-control select-width"
                  name="school_operation_types"
                  multiple="multiple"
                  placeholder="School Operation Type"
                  size="5"
                  value="{{ range .OLD.school_operation_types }}{{.}}{{end}}"
                >
                  {{ range $key, $value := .school_operation_type_lists }}
                  <option id="{{$key}}" value="{{$value}}">{{$value}}</option>
                  {{ end }}
                </select>
                <span class="text-danger">{{ .ERRORS.schooloperationtypes }}</span>
              </div>
              <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>

            <div class="settingSidebar">
              <a href="javascript:void(0)" class="settingPanelToggle">
                <i class="fa fa-spin fa-cog"></i>
              </a>
              <div class="settingSidebar-body ps-container ps-theme-default">
                <div class="fade show active">
                  <div class="setting-panel-header">Setting Panel</div>
                  <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Select Layout</h6>
                    <div class="selectgroup layout-color w-50">
                      <label class="selectgroup-item">
                        <input
                          type="radio"
                          name="value"
                          value="1"
                          class="selectgroup-input-radio select-layout"
                          checked
                        />
                        <span class="selectgroup-button">Light</span>
                      </label>
                      <label class="selectgroup-item">
                        <input
                          type="radio"
                          name="value"
                          value="2"
                          class="selectgroup-input-radio select-layout"
                        />
                        <span class="selectgroup-button">Dark</span>
                      </label>
                    </div>
                  </div>
                  <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Sidebar Color</h6>
                    <div class="selectgroup selectgroup-pills sidebar-color">
                      <label class="selectgroup-item">
                        <input
                          type="radio"
                          name="icon-input"
                          value="1"
                          class="selectgroup-input select-sidebar"
                        />
                        <span
                          class="selectgroup-button selectgroup-button-icon"
                          data-toggle="tooltip"
                          data-original-title="Light Sidebar"
                          ><i class="fas fa-sun"></i
                        ></span>
                      </label>
                      <label class="selectgroup-item">
                        <input
                          type="radio"
                          name="icon-input"
                          value="2"
                          class="selectgroup-input select-sidebar"
                          checked
                        />
                        <span
                          class="selectgroup-button selectgroup-button-icon"
                          data-toggle="tooltip"
                          data-original-title="Dark Sidebar"
                          ><i class="fas fa-moon"></i
                        ></span>
                      </label>
                    </div>
                  </div>
                  <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Color Theme</h6>
                    <div class="theme-setting-options">
                      <ul class="choose-theme list-unstyled mb-0">
                        <li title="white" class="active">
                          <div class="white"></div>
                        </li>
                        <li title="cyan">
                          <div class="cyan"></div>
                        </li>
                        <li title="black">
                          <div class="black"></div>
                        </li>
                        <li title="purple">
                          <div class="purple"></div>
                        </li>
                        <li title="orange">
                          <div class="orange"></div>
                        </li>
                        <li title="green">
                          <div class="green"></div>
                        </li>
                        <li title="red">
                          <div class="red"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-15 border-bottom">
                    <div class="theme-setting-options">
                      <label class="m-b-0">
                        <input
                          type="checkbox"
                          name="custom-switch-checkbox"
                          class="custom-switch-input"
                          id="mini_sidebar_setting"
                        />
                        <span class="custom-switch-indicator"></span>
                        <span class="control-label p-l-10">Mini Sidebar</span>
                      </label>
                    </div>
                  </div>
                  <div class="p-15 border-bottom">
                    <div class="theme-setting-options">
                      <label class="m-b-0">
                        <input
                          type="checkbox"
                          name="custom-switch-checkbox"
                          class="custom-switch-input"
                          id="sticky_header_setting"
                        />
                        <span class="custom-switch-indicator"></span>
                        <span class="control-label p-l-10">Sticky Header</span>
                      </label>
                    </div>
                  </div>
                  <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                    <a
                      href="#"
                      class="btn btn-icon icon-left btn-primary btn-restore-theme"
                    >
                      <i class="fas fa-undo"></i> Restore Default
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{{ template "templates/layouts/html/footer" .}} {{ end }}
